




.header{ 
    color: white;
    padding-top: 100px;
    padding-bottom: 32px;
    /* border: 0.0625rem solid red; */
    display: flex; 
    justify-content: space-between;
    /* position: sticky; */
    /* top: 0rem; */
    background-color: var(--background);
    z-index: 100;
    /* position: relative; */
    
}


.intro{ 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 0px;
}

.smaller{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: var(--light_gold);
}

.smaller span{
    color: var(--gold);
}
.bigger{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    /* line-height: 130.88%; */
    /* or 2.4375rem */
    margin:0;

    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--gold);
    position: relative;
}

.bigger::after{ 
    content: "";
    position: absolute;
    left:20%; 
    right:-15%; 
    top:60%; 
    bottom:10%; 
    background-color: var(--underline);
    
}
.bigger::before{ 
    content: "";
    position: absolute;
    left:105%; 
    width: 16px; 
    top:55%; 
    height:16px; 
    background-color: var(--gold);
    border-radius: 50%;
    transform: scale(0.4);
    
}


.menu{
    width: 400px;
    display: flex; 
    justify-content: space-between ;
    align-items: flex-start;
}

.links, .menu-icon{ 
    padding: 10px;
    text-decoration: none;
    color: var(--gold);
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    transition: 150ms ease-in-out;
    position: relative;
}
.menu-icon{
    display: none;
   
}

.links::before{ 
    content: "";
    position: absolute;
    left:50%;
    right:50%;
    top:100%;
    bottom:-5%;
    background-color: var(--gold);
    transition: 150ms ease-in-out;


}

.links:hover::before, .links:focus::before{ 
    transform: scaleX(100%);
    left:15%;
    right:15%;

}

.links span{
    color: var(--gray);
}

.links:focus, .links:hover {
    color: var(--gray)
}

.links:focus, .links:hover  span{
    color: var(--gold)
}


/* Page not found  start*/
.page-not-found{ 
    width: 100%;
    color: white; 
    font-size: 50px;
    margin: 9% auto;
}
.page-not-found p { 
    font-size: 16px;
}

/* Page not found end */


/* start of the contact comp */
.icons{ 
    height:150px ;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
}
.icons img{ 
    transform: scale(1.15);
}


/* who am I page start */

.whoami-container{
    color: var(--gray);
    padding-left: 50px;
    display: flex; 
    justify-content: space-around;
    
}

.code-container{
    position: relative;

}
.code-container::before{
    content: "";
    position: absolute;
    left:-50px; 
    right:calc(100% + 49.008px);
    top:23%;
    bottom:0%; 
    background-color: var(--gold);

}

.code-container::after{
    content: "";
    position: absolute;
    left:-52px; 
    right:calc(100% + 48px);
    top:10%;
    height: 0.25rem;
    background: var(--gold);
    box-shadow: 0rem 0rem 1.25rem 0.4375rem var(--gold);
    border-radius: 3.125rem;



}

.code-inner{ 
    padding-left: 20px;
    border-left: 0.304px solid var(--gray) ;
}

.code-container span{
    color: var(--white);
}

.cs, .cu{ 
    position: relative;
    color: var(--gray) !important;
}

.cu::after, .cs::after{ 
    content: "";
    position: absolute;
    left:0%; 
    right:-15%; 
    top:60%; 
    bottom:10%; 
    background-color: var(--underline);
}


.bio-container{ 
    max-width: 31.25rem;
    position: relative;
    margin-top: 3.125rem ;

}



.bio-container::before { 
    content: "";
    position: absolute;
    left:-50px; 
    right:calc(100% + 49.008px);
    top:3%;
    bottom:3%; 
    background-color: var(--gold);
}
/* who am I page end */


/* main div from projects */

.main-container{ 
    margin-top: 18px;
    
}
.project-main-container{
    max-height: 100vh;
   
    /* scroll-snap-type: y mandatory; */
}


.main{ 
    /* scroll-snap-align: start; */
    display: flex;
    width: 100vw;
    margin-bottom: 80px;
    
    
}


.pro-left { 
    background: #748297;
    outline: 1px solid var(--gold);
    box-shadow: 0px 0px 3px 1px var(--light_gold);
    width: 500px;
    max-width:  500px;
    height: 300px;
    position: relative;   
    overflow:hidden;
    margin: 8px 0;
    display:flex;
    justify-content:center;
    align-items:center;
    /* overflow:hidden */

    
}




.pro-right{
    /* padding: 8px; */
    /* border: 0.0625rem solid red; */
    margin-left: 48px ;
    max-width: 560px;
    
}


.pro-title{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    position: relative;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 8px;
    display: inline-block;
}
.pro-title::before{
    content: "";
    position: absolute;
    left:0%; 
    right:-15%; 
    top:60%; 
    bottom:10%; 
    background-color: var(--underline);
}




.pro-tech{ 
    display: flex;
    gap: 5px;
}
.tags{ 
    color: var(--white);
    background: #3B414B;
    border-radius: 0.3125rem;
    padding: 0.3125em;
    font-style: normal;
    font-weight: 400;
    font-size: 0.6875rem;
    line-height: 0.75rem;
    margin: 0;
}

.disc{

    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: var(--gray);
    max-width: 500px;

   
}

.pro-right a {
    display: block;
    color: var(--light_gold);
}





.resume-container{
    display: flex;
    color: white;
    /* border: 0.0625rem solid red; */
    padding: 0 80px;
    position: relative;
    
}



.resume-comp{
    display: flex;
    /* gap: 64px; */
    /* border: 0.0625rem solid red; */
    justify-content: center ;
    align-items: flex-start;
    margin-bottom: 80px;

}

.res-title{ 
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    position: relative;
}

.res-title::after { 
    content: "";
    position: absolute;
    left:calc(100% + 1rem); 
    right:calc(0% - 1.875rem);
    top:calc(50% - 0.0313rem);
    bottom:calc(50% - 0.0313rem);
    background-color: var(--gold);
    
}
.res-title::before{ 
    content: "";
    position: absolute;
    left:calc(100% + 0.625rem); 
    right:calc(0% - 1rem);
    top:calc(50% - 0.1875rem);
    bottom:calc(50% - 0.1875rem);
    background-color: var(--gold);
    border-radius: 50%;
    
}

.resume-left{
    /* border: 0.0625rem solid red; */
    width: 240px;
    display: flex;
    justify-content: flex-start;

}

.resume-right{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.125rem;
    /* border-left: 0.0625rem solid var(--gold); */
    padding:0 0.625rem;
    max-width: 480px;
    position: relative;
}

.n{ 
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: capitalize;
}

.u{
    text-decoration: underline;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    text-transform: capitalize;
}

.s{
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: var(--light_gold);
    text-transform: uppercase;
}

.small-list-items{ 
    margin-right: 0.625rem;
}

.l{
    display: inline-block;
    color: var(--gray);
    margin-right: 16px;
    margin-top: 1.6px;
    text-decoration: underline;
    line-height: 0.625rem;
    
}

.whoami-container .left{
    width: 100%;
}


@media only screen and (max-width: 1250px ) {
    .icons{
        display: none;
    }
   
  }

@media only screen and (max-width: 900px ) {
    
    .main{
        flex-direction: column;
        align-items: center;
    
    }

    
    .resume-comp{
        flex-direction: column;
       
    }
    .res-title{ 
        text-decoration: underline;
    }
    .resume-right{ 
        padding-left: 2em;
    }
    
    .whoami-container .right{ 
        transform: scale(0.5);
    }
   

}

@media only screen and (max-width: 720px ) {
    .whoami-container .right{
        display: none;
    }
    
 
    
  }
@media only screen and (max-width: 650px ) {
    .pro-left{
        width: 350px !important;
    }
    
    .main{
        width: 100%;
    }
    .header{
        flex-direction: column;
    }

    .menu{
        margin:10px 0px;
        width: 350px;
    }
    .menu-icon{
        display:inline;  

    }

    .resume-right{
        border-left: 0.5px solid var(--light_gold)
    }
    


    .pro-right{
        width: 80%;
        margin-top: 1em;
        padding-left: 1em;
        border-left: 0.5px solid var(--light_gold);
        margin-left: 0px;
    }

  }



@media only screen and (max-width: 500px ) {
    /* .pro-left{
       width:20px;
    } */
    .bio-container p {
        width: 300px ;
    }
   
    .resume-container{
        padding: 0;
    }
  }


  